<!--
<div>
  <h1>Angular 4 App</h1>
  <button (click)="handleClickEvent()">Click Me</button>
  <button (click)="sum(10,20)">sum</button>
  <h2>{{name}}</h2>
  <h3>{{x+y}}</h3>
  <varsha/>
  <app-login></app-login>
</div>  
//counter App 
<h1>Counter App</h1>
<div style="text-align:center;">
  <h2 class="count">{{count}}</h2>
  <div>
    <button (click)="handleDecrement()" class="btn bg-red">Decrement</button>
    <button (click)="handleReset()" class="btn  bg-black">Reset</button>
    <button (click)="handleIncrement()" class="btn  bg-red">Increment</button>
    
  </div>
</div>

//Event in Angular

<h1>Event in Angular</h1>
//click event
<button class="btn" name="login" (click)="handleEvent($event)">Click Event</button>

<br>
<br>
//mouse enter event
<div (mouseenter)="handleEvent($event)" style="background-color: green; width: 100px; height: 100px;">
</div>

<div (mouseleave)="handleEvent($event)" style="background-color: blue; width: 100px; height: 100px;">
</div>

<br>
<br>
//input,focus,blur event
<input type="text"
(focus)="handleEvent($event)"
(blur)="handleEvent($event)" 
(input)="handleEvent($event)" 
name="user"> //calling function(handleEvent)
-->
<!--
<h1>Get and Set Input field Value </h1>
<h1>User Name is:{{displayName}}</h1>
<input type="text" value="{{name}}" (input)="getName($event)" placeholder="Enter User name">
<br>
<br>
<button (click)="showName()">Get Name</button>
<button (click)="setName()">Set Name</button>
<hr>
//2nd way
<h1>Email:{{email}}</h1>
<input type="text" value="{{email}}" placeholder="enter email" #emailField>
<button (click)="getEmail(emailField.value)">Get Email</button>
<button (click)="setEmail()">Set Email</button>
-->
<!--
<h1>Style Rules and Option</h1>
<app-profile></app-profile>
-->
<!--
<h1>If Else | Control Flow</h1>

//@if(x==10){
<div style="width:200px; height:200px; background-color: green;"></div>
}

<button (click)="hide()">Hide Div</button>
<button (click)="show()">Show Div</button>
<button (click)="toggle()">Toggle Div</button>

@if(display){
  <div style="width:200px; height:200px; background-color: green;"></div>
  }

<hr>
<button (click)="toggleTwo()">{{toggleDiv?'show red div':'show gold div'}}</button>
@if(toggleDiv){
  <div style="width:200px; height:200px; background-color: gold;"></div>
}
@else{
  <div style="width:200px; height:200px; background-color: red;"></div>
}
-->
<!--
<h1>Else If | Control Flow</h1>

<button (click)="handleColor(1)">Red</button>
<button (click)="handleColor(2)">Blue</button>
<button (click)="handleColor(3)">Green</button>
<button (click)="handleColor(10)">Other</button>
<input type="text" (input)="handleInput($event)" placeholder="enter color number">
@if(color==1){
<div style="background-color: red; width:100px; height:100px;"></div>
}
@else if(color==2){
<div style="background-color: blue; width:100px; height:100px;"></div>
}
@else if(color==3){
<div style="background-color: green; width:100px; height:100px;"></div>
}
@else{
<div style="background-color: black; width:100px; height:100px;"></div>
}
-->
<!--
<br>
 <h1>Switch Case in Angular 19</h1>
<button (click)="handleColor('red')">Red</button>
<button (click)="handleColor('green')">Green</button>
<button (click)="handleColor('yellow')">Yellow</button>
<button (click)="handleColor('blue')">Blue</button> 
<button (click)="handleColor('gold')">No Color Match</button> 
<input type="text" placeholder="enter color" (input)="changeColor($event)">




@switch(colors){
 @case('red'){
 <h1 style="background-color: red;">Red Color</h1>
 }
 @case('green'){
 <h1 style="background-color:green;">Green Color</h1>
 }
 @case('yellow'){
  <h1 style="background-color:yellow;">Yellow Color</h1>
 }
 @case('blue'){
 <h1 style="background-color:blue;">Blue Color</h1>
 }
 @default{
  <h1 style="background-color:black; color:white">No Color Match</h1>
 }

}
-->
<!--
<h1>For Loop in Angular 19</h1>

@for(item of users; track item){
<h2>{{ item }}</h2>
}

<hr>
@for(student of students;track student.name;let id=$index){
<h2>
  <span>{{id+1}}</span>
  <span>{{student.name}}</span>
  <span>{{student.age}}</span>
  <span>{{student.email}}</span>
  <button (click)="getName(student.name)">Get Name</button>
</h2>
}
-->
<!--
<br>

<h1>Basic Of Signals</h1>

//<h1>{{count()}}</h1>
<h1>{{x}}</h1>

//<button (click)="updateValue()">Update Value</button>

//<button (click)="updateValue('dec')">Decrement</button>
<h1>{{count()}}</h1>
<button (click)="updateValue('inc')">Increment</button>

<button (click)="count.set(count()-1)">Decrement</button>
<h1>{{count()}}</h1>
<button (click)="count.set(count()+1)">Increment</button>
-->
<!--
<br>
<h1>Types with Signals</h1>
<h2>{{data()}}</h2>
<h1>{{count()}}</h1>
<button (click)="updateSignal()">Update</button>
-->
<!--
<br>
<h1>Computed Signals</h1>
<h1>{{z()}}</h1>
<button (click)="showValue()">Show Value</button>
<button (click)="updateX()">Update X</button>
-->
<!--
<br>
<h1>Effect in Angular</h1>
<h1>{{userName()}}</h1>
<button (click)="userName.set('sam')">Update userName</button>
-->
<!--
<br>
<h1>For Loop contextual Variable</h1>

@for(user of users;track user;
let i=$index;
let f=$first;
let l=$last
){
  //@if(f || l){
  <h3 style="background-color: red;"> this is our {{i+1}} user and name is {{user}}</h3>
  }@else{
    <h3>this is our {{i+1}} user and name is {{user}}</h3>
}

@if($odd){
<h3 style="background-color:#aaa;">this is our {{i}} user and name is {{user}}</h3>
}
@if($even){
  <h3 style="background-color:greenyellow;">this is our {{i}} user and name is {{user}}</h3>
}
<h1>{{$count}}</h1>
}
@empty(){
  <h1>No Record Found</h1>
}
-->
<!--
<br>
<h1 [style.backgroundColor]="bgColor"
[style.fontSize.pt]="fontSize"
>Dynamic Style</h1>

<h1 [style.fontSize]="zoom? headingSizeBig:headingSizeSmall">Heading</h1>
<button (click)="updateHeadingSize()">Toggle Font</button>
-->
<!--
<br>

<h1>*ngFor Directive in Angular</h1>

<ul>
  <li *ngFor="let x of students">{{x}}</li>

</ul>

<ul>
  <li *4ngFor="let student of studentData">
    {{student.name}}, {{student.age}}, {{student.email}}
  </li>
</ul>
-->
<!--
<br>
<h1>*ngIf Directive in Angular</h1>
-->
<!--
<div *ngIf="login; else elseBlock">
  <a href="">logout</a>
</div>

<ng-template #elseBlock>
  <a href="">login</a>
</ng-template>
-->
<!--
<div *ngIf="block==0">
  <h1>Heading 0</h1>
</div>4
<div *ngIf="block==1">
  <h144>Heading 1</h1>
</div>
<div *ngIf="block==2">
  <h1>Heading 2</h1>
</div>
<button (click)="updateBlock()">Update Block</button>
-->
<!--
<br>
<h1>*ngSwitch Directives in Angular</h1>
<button (click)="changeColor('red')">Red</button>
<button (click)="changeColor('green')">Green</button>
<button (click)="changeColor('yellow')">Yellow</button>
<button (click)="changeColor('blue')">Blue</button>
<button (click)="changeColor('pink')">Pink</button>
<div [ngSwitch]="color">
  <h1 *ngSwitchCase="'red'" style="background-color: red;">Red Color</h1>
  <h1 *ngSwitchCase="'green'" style="background-color: green;">green Color</h1>
  <h1 *ngSwitchCase="'yellow'" style="background-color: yellow;">yellow Color</h1>
  <h1 *ngSwitchCase="'blue'" style="background-color: blue;">Blue Color</h1>
  <h1 *ngSwitchCase="'pink'" style="background-color: pink;">Pink Color</h1>
  <h1 *ngSwitchDefault >No Color Match</h1>
</div>
-->
<br>
<h1>Basic Routing in Angular</h1>

<ul>
  <li>
    <a routerLink="/login">Login</a>
  </li>

  <li>
    <a routerLink="/about">About</a>
  </li>

  <li>
    <a routerLink="/contact">Contact</a>
  </li>
</ul>
<router-outlet></router-outlet>

